{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activities Selection</title>
    <link rel="stylesheet" href="{% static 'elysabeth/css/activities.css' %}" />
  </head>
  <body>
    <div id="activityquestion"><b>What are we doing after?</b></div>
    <form method="POST" action="{% url 'elys-activities' %}">
      {% csrf_token %}
        <div class="activities-selection">
          <div class="activity-item">
            <img src="{% static 'elysabeth/activities/aquarium.jpeg' %}" alt="aquarium" />
            <label>
              <input type="checkbox" name="activities" value="aquarium" />
              Aquarium
            </label>
          </div>
          <div class="activity-item">
            <img src="{% static 'elysabeth/activities/arcade.jpeg' %}" alt="arcade" />
            <label>
              <input type="checkbox" name="activities" value="arcade"/>
              Arcade
            </label>
          </div>
          <div class="activity-item">
            <img src="{% static 'elysabeth/activities/cinema.jpeg' %}" alt="cinema" />
            <label>
              <input type="checkbox" name="activities" value="cinema" />
              Cinema
            </label>
          </div>
          <div class="activity-item">
            <img src="{% static 'elysabeth/activities/keramika.jpeg' %}}" alt="ceramics" />
            <label>
              <input type="checkbox" name="activities" value="ceramics"/>
              Ceramics
            </label>
          </div>
          <div class="activity-item">
            <img src="{% static 'elysabeth/activities/kunsthalle.jpeg' %}" alt="kunsthalle" />
            <label>
              <input type="checkbox" name="activities" value="kunsthalle"/>
              Echibition
            </label>
          </div>
          <div class="activity-item">
            <img src="{% static 'elysabeth/activities/park.jpeg' %}" alt="park.jpeg" />
            <label><input type="checkbox" name="activities" value="park.jpeg"/>
              Park
            </label>
          </div>
        </div>
        <button class="button" onclick="location.href='{% url "elys-last" %}'">
          Last page
        </button>
      </form>
  </body>
</html>
